/*
HTML TAGS
*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

header{
    width: 100%;
}
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: .1em solid #aaabab;
}
textarea{
    border: .1em solid #aaabab;
}
footer{
    width: 100%;
    padding: .5em 0 .5em;
    background: #181b1e;
    text-align: center;
}
hr{
    width: 6em;
    height: 5px;
    border: none;
    background: #ffc36e;
}
    /*positioning: position, z-index, bottom, top, left, right*/
    /*display & box model: display, overflow, box-sizing, width, height, padding, margin, border*/
    /*color: background, color*/
    /*background: #000000;
    /*text: font-family, font-size, line-height, text-align*/
    /*other: cursor*/

/*
CLASSES
*/

.error {
    background-color: #ffffdd;
    border: 2px solid #D8000C;
}

.mob-menu{
    display: none;
}
.mob-close{
    display: none;
}

.secondary-title{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2em;
    
}

/*NAV*/
.top-bar{
    width: 100%;
    padding: .5em 0 3em;
    background: #181b1e;
}
.logo{
    float: left;
    margin: .5em 0 0 3em;
}
.top-nav{
    margin: 0;
    padding: 0;
    float: right;
}
.top-nav-item{
    display: inline-block;
    margin: 0 .5em;
}
.top-nav-link{
    display: block;
    font-weight: 100;
    color: #aaabab;
    text-decoration: none;
    padding-bottom: .8em;
    
}
.top-nav-link:hover{
    color: #ffffff;
    border-bottom: .3em solid #f44336;
}
.request-btn{
    display: block;
    margin: 0 3em;
    padding: .5em;
    border: .1em solid #00bad2;
    border-radius: .3em;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}
.request-btn:hover{
    background: #00bad2;
}

/*INTRO*/
.intro-section{
    width: 100%;
    padding: 5em 0;
    background: url(../images/mountain-bg.jpg);
    background-size: cover;
    background-position: center bottom;
}
.intro-title{
    padding: 0 1.5em;
    color: #ffffff;
    font-weight: 100;
    font-size: 4em;
    text-align: center;
}
.download-btn{
    display: block;
    margin: auto;
    width: 8em;
    padding: 1em;
    border-radius: .2em;
    text-align: center;
    background: #f44336;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
}
.btn-label{
    margin: 0 0 0 .5em;
}
/*ABOUT*/
.about-section{
    padding: 2em 5em;
    background: #f2f2f2;
    color: #212121;
    text-align: center;
}
.about-intro{
    font-size: 1.8em;
    font-weight: 100;
}
.about-text{
    font-weight: 300;
}
/*QUOTE*/
.quote-section{
    padding: 6em 15em;
    background: url(../images/quote-bg.jpg);
    background-size: cover;
    background-position: center bottom;
    text-align-last: center;
}
.quote-icon{
    color: #f44336;
}
.quote-color{
    color: #181b1e;
}
.quote-text{
    font-weight: 100;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
}
.quote-author{
    font-weight: 300;
    color: #00bad2;
    font-size: 1em;
}
/*CONTACT*/
.contact-section{
    padding: 2em 5em;
    background: #f2f2f2;
    color: #212121;
    text-align: center;
}
.contact-form{
    width: 90%;
    margin: auto;
}
.row{
    width: 100%;
}
.col{
    width: 50%;
    float: left;
}
.input-text{
    width: 90%;
    padding: 1em;
}
.text-area{
    width: 95%;
    height: 10em;
    margin: 2em 0;
    padding: 1em;
    font-family: 'Roboto';
}
.submit-btn{
    width: 98%;
    background: #f2f2f2;
    border: .2em solid #00bad2;
    padding: 1em;
    cursor: pointer;
}
.submit-btn:hover{
    background: #00bad2;
    color: #ffffff;
}
/*FOOTER*/
.bottom-nav{
    margin: 0;
    padding: 0;
}
.bottom-nav-item{
    display: inline-block;
    margin: 1em 2em;
}
.footer-link{
    font-size: 1.5em;
    color: #626262;
}
.footer-link:hover{
    color: #f44336;
}
.footer-disclaimer{
    color: #626262;
}

/*MEDIA QUERIES*/
@MEDIA(max-width: 575.98px){
    .top-bar{
        position: fixed;
        padding: .5em 0 .5em;
        z-index: 1;
    }
    .mob-menu{
        display: block;
        color: #ffffff;
        font-size: 1.5em;
        position: absolute;
        top: .6em;
        left: .5em;
    }
    .mob-close{
        display: block;
        color: #ffffff;
        font-size: 1.5em;
        position: absolute;
        right: 1em;
        top: 1em;
    }
    .top-nav{
        /*display: none;*/
        position: fixed;
        top: 0;
        left: -25em;
        width: 100%;
        height: 100%;
        padding: 3em 0 0;
        background: #181b1e;
        z-index: 2; /*Acomodar capas*/
        transition: .5s;
    }
    .top-nav-item{
        display: block;
    }
    .top-nav-link{
        padding: 1em;
        font-size: 1.3em;
    }
    .request-btn{
        font-size: 1.3em;
        margin: 0;
    }
    .intro-section{
        padding: 3em 0;
    }
    .intro-title{
        font-size: 2em;
    }
    .about-section{
        padding: 2em 2em;
    }
    .quote-section{
        padding: 6em 5em;
    }
    .contact-section{
        padding: 2em 2em;
    }
    .col{
        width: 100%;
        margin: 1em 0;
    }
    .text-area{
        width: 90%;
    }
    .bottom-nav-item{
        margin: 1em 1em;
    }
}
/*Small devices (landscape phones, less than 768px )*/
@MEDIA(max-width: 767.98px){

}
/*Medium devices (landscape phones, less than 768px )*/
@MEDIA(max-width: 767.98px){

}
/*Large devices (landscape phones, less than 768px )*/
@MEDIA(max-width: 767.98px){

}